/* Reset some defaults browser styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial';
    transition: all 0.3s ease;
}

header {
    background-image: linear-gradient(#b8b8b8, #cfcfcf, #f4f4f4);
    color: #333;
    text-align: center;
    padding: 2rem;
}

/* Stiil pealkirjale */
#portfolio-header {
    text-shadow: 1px 2px 7px #575757;
    font-size: 1em;
    font-weight: 700;
    float: left; /* Lisa selle reegli */
    margin-right: 20px; /* Lisa selle reegli, et eraldada ülejäänud menüüst */
}

/* Stiil pealkirjale, kui ekraan on väiksem */
#portfolio-header a {
    font-size: 1.3em;
}

/* Stiil menüüle laiema ekraani jaoks */
#portfolio-nav.desktop-menu {
    list-style-type: none;
    text-shadow: 1px 2px 7px #575757;
    font-size: 1em;
    font-weight: 700;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    /* margin-top: -20px; */
}

/* Peida menüü väiksema ekraani jaoks */
@media (max-width: 860px) {
    #portfolio-nav.desktop-menu {
        display: none;
    }
}

/* Stiil menüü-toggle nupule */
#menu-toggle {
    font-size: 2em;
    font-weight: 700;
    text-shadow: 1px 2px 7px #575757;
    justify-content: flex-end;
    display: flex;
}

#menu-toggle:hover {
    cursor: pointer;
}

.headerBelow {
    background-image: linear-gradient(#b8b8b8, #cfcfcf, #f0f0f0);
    color: #333;
    text-align: center;
    padding: 2rem;
}

#toCircles{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 8px;
}

.oval {
    width: 200px; /* Muutke laiust vajadusel */
    height: 100px; /* Muutke kõrgust vajadusel */
    background-image: linear-gradient(#b8b8b8, #f0f0f0, #f0f0f0);
    color: #333;
    font-weight: 700;
    text-shadow: 1px 2px 7px #575757;
    text-align: center;
    line-height: 100px; /* Reguleerige teksti vertikaalset keskendamist */
    border-radius: 50%; /* See tekitab ovaalse kuju */
    margin-bottom: 20px;
}

/* Open to Work popup osa */
/* .open-to-work-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
} */

.open-to-work-popup {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0s 0.3s; /* Väljumise viivitus */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

.open-to-work-popup.show {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease, visibility 0s; /* Eemaldage väljumise viivitus */
}

.open-to-work-popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 80%;
}

/* Invite Me popup osa */
/* .invite-me-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
} */

.invite-me-popup {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0s 0.3s; /* Väljumise viivitus */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

.invite-me-popup.show {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease, visibility 0s; /* Eemaldage väljumise viivitus */
}

.invite-me-popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 80%;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}
/* Open to Work popup osa siiani */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

main {
    overflow-y: auto;
    /* display: flex; */
    justify-content: space-between;
    margin: 20px;
    padding: 20px;
    background-color: #f0f0f0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: calc(137vh - 160px);
}


footer{
    background-image: linear-gradient(#f4f4f4,#cfcfcf,#b8b8b8);
    color: #333;
    text-align: center;
    line-height: 1.5;
    padding: 2rem 0;
    position: absolute;
    width: 100%;
}

#footer-icons{
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 8px;
}

nav a:hover {
    color: #dadada;
}

.contact-hover {
    color: #333;
    transition: color 0.3s ease;
}

.contact-hover:hover {
    color: #dadada;
    /* font-size: 1.01em; */
    /* transition: scale 0.3s ease; */
}

#contact-me {
    font-size: 1em;
    line-height: 2;
}

nav a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease;
}

.container {
    margin: 20 auto;
    text-align: center;
    font-size: 1.3em;
}

.container ul {
    list-style-type: none;
}

.container figure {
    display: inline-block; /* See paneb figcaption ja pildi kõrvuti */
    padding: 1rem 0;
    margin: 0 15px;
}

.container figure img {
    display: inline-block;
    margin: 0 10px;
    border: 2px solid #ffffff;
    border-radius: 50%;
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-50%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* kui ilmumine oleks keskelt väljapoole */
@keyframes fadeInFromCenter {
    from {
        opacity: 0;
        transform: scale(0.5) translateY(-50%);
    }
    to {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}

.animated {
    animation: fadeIn 1s forwards;
}

.animated-picture {
    animation: fadeInFromCenter 1s forwards;
}
